<article class="message is-dark">
	<div class="message-header">
		<p>Novo Tipo de Produto</p>
	</div>
</article>   
<%= render 'form', product_type: @product_type %>
<br>
<%= link_to 'Voltar', product_types_path ,class: "button is-info is-inverted"%>
