
<div id="container"></div>

<%= content_tag :div, class: "temp_information", data: {temp: @sales} do %>
<% end %>

<h4 class="title is-4">
	<span class="tag is-primary is-medium">Número de vendas por mês</span>
</h4>

<div class="box">
	<%= line_chart @sales %>
</div>

<h4 class="title is-4">
	<span class="tag is-primary is-medium">Produto mais Vendido</span>
</h4>

<div class="box">
	<span class="tag is-black"><%= @most_frequent_item.name %></span>
</div>
