<article class="message is-dark">
  <div class="message-header">
    <p>Editando Venda</p>
</div>
 </article>   
	<%= render 'form', product_client: @product_client %>
<br>
<%= link_to 'Mostrar', @product_client ,class: "button is-link"%> 
<%= link_to 'Voltar', products_clients_path ,class: "button is-info is-inverted"%>