<article class="message is-dark">
  <div class="message-header">
    <p>Alterando Permissões</p>
</div>
 </article>   
	<%= render 'form', user: @user %>
<br>
<%= link_to 'Voltar', users_path ,class: "button is-info is-inverted"%>