<article class="message is-dark">
  <div class="message-header">
    <p>Editando um Cliente</p>
</div>
 </article>   
	<%= render 'form', client: @client %>
<br>
<%= link_to 'Mostrar', @client ,class: "button is-link"%> 
<%= link_to 'Voltar', clients_path ,class: "button is-info is-inverted"%>