	<article class="message is-dark">
		<div class="message-header">
			<p>Novo Cliente</p>
		</div>
	</article>   
	<%= render 'form', client: @client %>
	<br>
	<%= link_to 'Voltar', clients_path ,class: "button is-info is-inverted"%>
