<article class="message is-dark">
	<div class="message-header">
		<p>Nova Especificação de Produto</p>
	</div>
</article>   
<%= render 'form', product_specification: @product_specification %>
<br>
<%= link_to 'Voltar', product_specifications_path ,class: "button is-info is-inverted"%>
