<article class="message is-dark">
  <div class="message-header">
    <p>Editando Status de Venda</p>
</div>
 </article>   
	<%= render 'form', status_sale: @status_sale %>
<br>
<%= link_to 'Mostrar', @status_sale ,class: "button is-link"%> 
<%= link_to 'Voltar', status_sales_path ,class: "button is-info is-inverted"%>