<article class="message is-dark">
	<div class="message-header">
		<p>Novo Status de Venda</p>
	</div>
</article>   
<%= render 'form', status_sale: @status_sale %>
<br>
<%= link_to 'Voltar', status_sales_path ,class: "button is-info is-inverted"%>
