<article class="message is-dark">
	<div class="message-header">
		<p>Novo Tipo de Pagamento</p>
	</div>
</article>   
<%= render 'form', payment_type: @payment_type %>
<br>
<%= link_to 'Voltar', payment_types_path ,class: "button is-info is-inverted"%>
