<div class="row columns">

        <div class="column is-one-third">
            <div class="card large">
                <div class="card-image">
                    <figure class="image">
                            <figure class="image is-4by3"></figure>
                    </figure>
                </div>

                    
                    <div class="card-content">
                        <div class="media">

                            <div class="media-content">
                                <p class="title is-4 no-padding"></p>
                            </div>
                        </div>
                        <p></p>
                        <div class="content">
                            <div class="background-icon"><span class="icon-twitter"></span></div>
                        </div>
                    </div>



            </div>
        </div>
</div>