<p>Oi <%= @resource.email %>!</p>

<p>Alguém solicitou a mudança da sua senha.</p>
<p><%= link_to 'Trocar senha', root_path + '/users/password/edit?reset_password_token=#{@token}' %></p>

<p>Se não foi você, ignore este email.</p>
<p>Sua senha não será alterada, até você clicar no link ou criar uma nova.</p>
