<h1 class="text-center">Alteração de senha</h1>
<table class="spacer">
  <tbody>
  <tr>
    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
  </tr>
  <tr>
    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
  </tr>
  <tr>
    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
  </tr>
  <tr>
    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
  </tr>
  </tbody>
</table>
<p class="text-center">
  Olá, <strong><%= @resource.email %></strong><br/><br/>
  Alguém requisitou a alteração da sua senha. Você poderá alterá-la através do link no botão abaixo.<br/><br/>
  Se você não solicitou isto, ignore este e-mail, a sua senha não irá ser alterarda a não ser que seja clicado no link
  abaixo.
</p>
<table class="spacer">
  <tbody>
  <tr>
    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
  </tr>
  <tr>
    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
  </tr>
  <tr>
    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
  </tr>
  <tr>
    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
  </tr>
  </tbody>
</table>
<table class="button large expand">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <center data-parsed="">
              <%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token), class: 'float-center' %>
            </center>
          </td>
        </tr>
      </table>
    </td>
    <td class="expander"></td>
  </tr>
</table>