<p>Oi <%= @resource.email %>!</p>

<p>Alguém solicitou a mudança da sua senha.</p>
<%= link_to 'Mudar minha senha', 'https://inventorytowakai.herokuapp.com/users/password/edit?reset_password_token='+ @token, class: 'button' %>
<!-- /users/password/edit?reset_password_token=zdG-QYxnA1ryGGwcH8C1 -->

<p>Se não foi você, ignore este email.</p>
<p>Sua senha não será alterada, até você clicar no link ou criar uma nova.</p>
