<article class="message is-dark">
	<div class="message-header">
		<p>Novo Produto</p>
	</div>
</article>   
<%= render 'form', product: @product %>
<br>
<%= link_to 'Voltar', products_path ,class: "button is-info is-inverted"%>
