<article class="message is-dark">
  <div class="message-header">
    <p>Editando tipo de Cliente</p>
</div>
 </article>   
	<%= render 'form', client_type: @client_type %>
<br>
<%= link_to 'Mostrar', @client_type ,class: "button is-link"%> 
<%= link_to 'Voltar', client_types_path ,class: "button is-info is-inverted"%>