<article class="message is-dark">
	<div class="message-header">
		<p>Novo Tipo de Cliente</p>
	</div>
</article>   
<%= render 'form', client_type: @client_type %>
<br>
<%= link_to 'Voltar', client_types_path ,class: "button is-info is-inverted"%>
