<article class="message is-dark">
  <div class="message-header">
    <p>Editando Venda</p>
</div>
 </article> 
<div class="box">
	<%= render 'form', sale: @sale %>
</div>
<div class="field is-grouped is-grouped-right">
  <p class="control">
  	<%= link_to 'Mostrar', @sale ,class: "button is-info"%>
  </p>
</div>